@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width:768px){
    .trasform-sec{
        padding-left: 0;
        padding-top: 15px;
    }
    .graphic-description,.photography-description{
        left:20%;
        top:-20%;
    }
}