@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../images/desktop/image-header.jpg);
    height: 100vh;
    
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-item a{
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
    
}

.navbar-toggler-icon{
    background-image: url(../images/icon-hamburger.svg);
    
}
.hero-title{
    margin-top: 100px;
}
.hero-title h1{
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    letter-spacing: 10px;
    text-transform: uppercase;
}
.hero-title img{
    margin-top: 120px;
}
.trasform-sec{
    padding-left: 100px;
}
.trasform-sec h2{
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom:40px;
}
.trasform-sec p{
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
    margin-bottom: 40px;
}
.trasform-sec a{
    text-decoration-color: hsl(51, 100%, 49%) ;
    color: black;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
      
    
}
.graphic-bg{
    background-image: url(../images/desktop/image-graphic-design.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.graphic-bg h3{
    padding-top: 350px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(167, 40%, 24%);
}
.graphic-bg p{
    font-family: 'Barlow', sans-serif;
    color: hsl(167, 40%, 24%);
}
.photo-bg{
    background-image: url(../images/desktop/image-photography.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.photo-bg h3{
    padding-top: 350px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(198, 62%, 26%);
}
.photo-bg p{
    font-family: 'Barlow', sans-serif;
    color: hsl(198, 62%, 26%);
}
#testimonials{
    margin-top: 150px;
}
#testimonials h3{
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size:1.2rem;
    color: hsl(210, 4%, 67%);
}
.testimonial-img{
    width: 50px;
}
.testimonial p{
    font-family: 'Barlow', sans-serif;
    color: hsl(232, 10%, 55%);
    font-size: 1rem;

}
.testimonial h5{
    font-family: 'Fraunces', serif;
}
.testimonial span{
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
    font-size: 0.9rem;
}