@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../images/desktop/image-header.jpg);
    height: 100vh;
    
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-item a{
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
    
}

.navbar-toggler-icon{
    background-image: url(../images/icon-hamburger.svg);
    
}
.hero-title{
    margin-top: 100px;
}
.hero-title h1{
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    letter-spacing: 10px;
    text-transform: uppercase;
}
.hero-title img{
    margin-top: 120px;
}
.trasform-sec{
    padding-left: 100px;
}
.trasform-sec h2{
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom:40px;
}
.trasform-sec p{
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
    margin-bottom: 40px;
}
.trasform-sec a{
    text-decoration-color: hsl(51, 100%, 49%) ;
    color: black;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
      
    
}